@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

*{
    margin:0;
}
/* Element selector */
h1{
    color:rgb(243, 227, 227);
}
body{
    background-color:#6495ED;
}
/* class  selector */

.form-label{
    color:#4f76be;
    font-family:Comic Sans MS;
}
.form-control{
    width:100%;
    /* border-top:10px solid rgb(14, 5, 5);
    border-bottom:10px solid rgb(27, 6, 6); */
   /* border:2px solid green; */
   border:none;
   border-radius:12px;
   background-color:#c9daf9 ;
   padding:10px;
}
.form-group{
    width:100%;
    /* border:1px solid #88adf1 ; */
    text-align:center;
    /* padding-left:20px;
    padding-right:20px;
    padding-bottom:20px; */
    padding:10px;
   
}
.title{
    text-align: center;
    font-family:Freestyle Script;
    letter-spacing:2px;
}
.form{
    width:50%;
    border:1px solid #98b9f7;
    margin-left:auto;
    margin-right:auto;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:10px;
    gap:10px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px;
    background-image: linear-gradient(173deg, #98b9f7, #88adf1);
}
.rows{
    width:100%;
    display: flex;
    gap:10px;
    /* border-bottom:1px solid #98b9f7;
    padding-bottom: 10px; */
    justify-content: center;
}

.radio-button{
    width:auto;
}
.btn{
    border:none;
    background-image: linear-gradient(45deg, #5b7db9, #274f9b);
    padding: 10px;
    border-radius: 12px 12px 12px 68px;
}
.rows a{
    text-decoration: none;
    color:#ebeff6;
    font-size: 15px;
    font-family:Franklin Gothic Book;
}

.about{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.about h1{
    text-align: center;
}
.about p{
    text-align:justify;
    line-height: 40px;
    color:whitesmoke;
    font-family: Gill Sans MT;
}
.contact{
    width:80%;
    margin:0 auto;
    display: flex;
    
}
.company{
    width:20%;
}
.feedback{
    width:80%;
}

.header{
    width:100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    background-color: #051c46;
    margin-bottom:120px;
}
.logo{
    width:20%;
}
.logo span{
    color:whitesmoke;
    font-size: 40px;
    font-family:Harlow Solid;
}
.logo span i{
    font-size: 60px;
    color:rgb(8, 246, 246);
}
.navs{
    width:70%;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.navs a{
    text-decoration: none;
    color:whitesmoke;
}
.social{
    width:10%;
    display: flex;
    gap: 10px;
}
.social a  i{
    color:blanchedalmond;
}